aniso8601==9.0.1
bcrypt==3.2.0
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
cymem==2.0.5
DateTime==4.3
dnspython==2.1.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
Flask==2.0.1
Flask-RESTful==0.3.9
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jsonpickle==2.0.0
MarkupSafe==2.0.1
murmurhash==1.0.5
nltk==3.6.2
numpy==1.21.1
packaging==21.0
pathy==0.6.0
preshed==3.0.5
protobuf==3.17.3
pycparser==2.20
pydantic==1.8.2
PyJWT==2.1.0
pymongo==3.11.4
pyparsing==2.4.7
python-dotenv==0.18.0
pytz==2021.1
regex==2021.4.4
requests==2.26.0
six==1.16.0
smart-open==5.1.0
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
stanza==1.2.2
thinc==8.0.8
torch==1.9.0
tqdm==4.61.1
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wasabi==0.8.2
Werkzeug==2.0.1
zope.interface==5.4.0
